/* 
Style sheet created by: kevin bolanos
Today's Date: 04/05/24
*/
body {
    background-color: #dde3fd;
}

#container {
    padding-bottom: 500px;
}

.box {
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #798ef6;
    color: #091034;
    width: 400px;
    height: 170px;
}

/* sticky */
.sticky{
    position: sticky;
    position: -webkit-sticky
    top: 50;
}

/* relative */

.relative{
    position: relative;
    top: 100px;
    left: 50px;
}

/* fixed */
.fixed{
    position: fixed;
    top: 100px;
    right: 20px;
}

/* absolute */
.absolute{
    position: absolute;
    bottom: 50px;
    right:  50px;
}